/* Police de caractères */
body {
    font-family: Arial, sans-serif;
}

/* Fond blanc */
body {
    background-color: #ffffff;
    color: #000000;
    margin: 20px;
}


p {
    margin-bottom: 5px;
}


table {
    background-color: #ebebeb;
    width: 100%;
    max-width: 800px; /* Ajustez la largeur maximale selon vos préférences */
    margin: 0 auto; /* Centre le tableau horizontalement */
    border-collapse: collapse;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}



/* Centrage des cellules du tableau */
td {
    text-align: center;
}


/* Centre le titre principal */
h1 {
    text-align: center;
    background-color: #ebebeb;
}

.red {
    background-color: rgba(255, 0, 0, 0.5);
}

.green {
    background-color: rgba(0, 255, 0, 0.5);
}

.orange {
    background-color: rgba(255, 165, 0, 0.5);
}

.text {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: darkgreen;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bouton {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    width: 420px;
    margin: 5px auto;
    padding: 5px 0;
    background-color: #ebebeb;
    border-radius: 5px;
}

dialog {
    border-radius: 20px;
    height: 50%;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.big-container {
    align-items: center;
    justify-content: center;
    background: #fdfdfe;
    display: flex;

}

.container {
    display: flex;
    flex-direction: column;
    width: 420px;
    padding: 50px 0;
    background: #eaeaea;
    border-radius: 10px;
    align-items: center;
    row-gap: 30px;
}

.circular-progress {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: conic-gradient(#006401 3.6deg, #7c7272 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background: #eaeaea;
}

.progress-value {
    position: absolute;
    font-size: 50px;
    font-weight: 600;
    color: #006401;
}

.text {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    color: #006401;
    align-items: center;
    justify-content: center;
    display: flex;
}


